{% extends "administrationbase.html.twig" %}
{% block title %}
  {{ parent() }}
  modif editeur
{% endblock %}

{% block contenu %}
{% if form.editeur is defined %}
  {% if form.editeur != null %}

  <div class="container-fluid"style="padding: 5rem">
    <div class="row" >
      <div class="container" id="borderimg3" style="padding: 5rem">
        <h4>Modifier La editeur : "<font style="font-style: italic; font-weight: bold;">{{ form.editeur.nomediteur }} </font>  "</h4>
        <br/>
        <form class="form-signin" action="index.php?page=modifediteur" method="post" enctype="application/x-www-formurlencoded">
          <div class="form-row">
            <label for="inputNomediteur ">Editeur :</label>
            <input class="form-control" type="text" name="inputNomediteur" placeholder="Saisir le nom du nouvelle editeur" id="inputNomediteur" value="{{ form.editeur.nomediteur }}" required="required" autofocus="autofocus">
            <span ></span>

          </div>

        </div>
        <div class="container-fluid textcenter">
            <input type="hidden" name="idediteur" value="{{ form.editeur.idediteur }}"/>
          <button type="submit" class="btnsingin" name="btModifier">Modifier</button>
        </div>
      </form>
    </div>
  </div>

  {% else %}
  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">

        <form class="textcenter" method="post" style="width: 100%;">
          <h2 class="textcenter" style="color: #ff6b6b">{{ form.message }}</h2>
        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="button" formaction="index.php?page=adminediteur">Retour a la liste des editeur</button>
        </div>
      </form>
    </div>
  </div>

  {% endif %}
{% else %}

  {% if form.valide == true %}
  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">

        <form class="textcenter"  method="post" style="width: 100%;">
          <h2 class="textcenter">{{ form.message }}</h2>
        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="button" formaction="index.php?page=adminediteur">Retour a la liste des editeur</button>
        </div>
      </form>
    </div>
  </div>


  {% else %}
  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">

        <form class="textcenter"  method="post" style="width: 100%;">
          <h2 class="textcenter" style="color: #ff6b6b">{{ form.message }}</h2>
        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="button" formaction="index.php?page=adminediteur">Retour a la liste des editeur</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endif %}
{% endblock %}
