{% extends "administrationbase.html.twig" %}
{% block title %}
  {{ parent() }}
  modif disponibilité
{% endblock %}

{% block contenu %}
{% if form.disponibilite is defined %}
  {% if form.disponibilite != null %}

  <div class="container-fluid"style="padding: 5rem">
    <div class="row" >
      <div class="container" id="borderimg3" style="padding: 5rem">
        <h4>Modifier La disponibilité : "<font style="font-style: italic; font-weight: bold;">{{ form.disponibilite.libelledisponibilite }} </font>  "</h4>
        <br/>
        <form class="form-signin" action="index.php?page=modifdisponibilite" method="post" enctype="application/x-www-formurlencoded">
          <div class="form-row">
            <label for="inputLibelledisponibilite ">Disponibilité :</label>
            <input class="form-control" type="text" name="inputLibelledisponibilite" placeholder="Saisir le nom de la nouvelle disponibilite" id="inputLibelledisponibilite" value="{{ form.disponibilite.libelledisponibilite }}" required="required" autofocus="autofocus">
            <span ></span>

          </div>

        </div>
        <div class="container-fluid textcenter">
            <input type="hidden" name="iddisponibilite" value="{{ form.disponibilite.iddisponibilite }}"/>
          <button type="submit" class="btnsingin" name="btModifier">Modifier</button>
        </div>
      </form>
    </div>
  </div>

  {% else %}
  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">

        <form class="textcenter" method="post" style="width: 100%;">
          <h2 class="textcenter" style="color: #ff6b6b">{{ form.message }}</h2>
        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="button" formaction="index.php?page=admindisponibilite">Retour a la liste des disponibilité</button>
        </div>
      </form>
    </div>
  </div>

  {% endif %}
{% else %}

  {% if form.valide == true %}
  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">

        <form class="textcenter"  method="post" style="width: 100%;">
          <h2 class="textcenter">{{ form.message }}</h2>
        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="button" formaction="index.php?page=admindisponibilite">Retour a la liste des disponibilité</button>
        </div>
      </form>
    </div>
  </div>


  {% else %}
  <div class="container-fluid" style="padding: 5rem">
    <div class="row">
      <div class="container " id="borderimg3" style="padding: 5rem">

        <form class="textcenter"  method="post" style="width: 100%;">
          <h2 class="textcenter" style="color: #ff6b6b">{{ form.message }}</h2>
        </div>
        <div class="container-fluid textcenter">

          <button type="submit" class="btnsingin" name="button" formaction="index.php?page=admindisponibilite">Retour a la liste des disponibilité</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
{% endif %}
{% endblock %}
