
{% extends "administrationbase.html.twig" %}
{% block title %}
  {{ parent() }}
  event
{% endblock %}

{% block contenu %}

  <div class="container-fluid" style="margin-top:1em">
    <div class="row" style="padding:1em">

      <h4>Liste des event</h4>
        {%  if liste %}
      <a href="index.php?page=ajoutevent">
        <button type="button" name="button" class="btnplus" style="  position: absolute;
    right: 20px;">Ajouter</button>
      </a>
      {% endif %}
      <div class="table-responsive">
        <form action="index.php?page=adminevent" method="post" enctype="application/x-www-form-urlencoded">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Couverture</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Modif</th>
                <th scope="col">Trash</th>
                <th></th>
                <!-- <th >
                  <label class="checkbox">
                    <input type="checkbox"  id="select_all" />
                    <span class="default"></span>
                  </label></th > -->
              </tr>
            </thead>
            <tbody>
                  {%  if liste %}
              {% for e in liste %}

                <tr>
                  <th scope="row">#{{ e.id }}</th>
                  <td><img src="{{ e.illustration }}" alt="{{ l.titre }}" style=" height: 75px;"></td>
                  <td>{{ e.titre }}</td>
                  <td>{{ e.information }}</td>
                  <td>
                    <a href="index.php?page=modifevent&id={{ e.id }}">
                      <i class="fas fa-edit icon"></i>
                    </a>
                  </td>
                  <td>
                    <a href="index.php?page=adminevent&id={{ e.id }}">
                      <i class="fas fa-trash icon"></i>
                    </a>

                  </td>
                  <td><label class="checkbox">
                    <input type="checkbox" name="cocher[]" id="cocher[]" value="{{e.id}}"/>
                    <span class="default"></span>
                  </label></td>
                </tr>

              {% endfor %}
              {% else %}
              <tr>
                <th scope="row">#</th>
                <td>Vide</td>
                <td>Vide</td>
                <td>Vide</td>
                <td>Vide</td>
                <td>Vide</td>
                  <td></td>
              </tr>
              {% endif %}

            </tbody>
          </table>
          <hr/>
          {%  if liste %}
          <button class="btn btn-mg btn-dark btn-block" type="submit" name="btSupprimer">Supprimer</button>
          {% else %}
          <button style="  width: 100%;" class="btn btn-mg btnplus btn-block" type="submit" name="button"  formaction="index.php?page=ajoutevent">Ajouter</button>

          {% endif %}

        </form>
      </div>
    </div>
  </div>
{% endblock %}
