{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modifier un auteur {% endblock %}
{% block contenu %} 
    {% if form.auteur is defined %} 
        {% if form.auteur != null %}

            <form class="form-signin" action="index.php?page=modifAuteur" method="post"enctype="multipart/form-data">

                <h1 class="h3 mb-3 font-weight-normal">Modifier un auteur</h1>

                <label for="id" class="sr-only"> id:</label>
                <input type="hidden" id="id" name="idAuteur" value="{{form.auteur.idAuteur}}"/>
                <h3 style='text-align:left; font-size:16px'>Prénom de l'auteur:</h3>
                <label for="prenom" class="sr-only">prenom:</label>
                <input value="{{form.auteur.prenomA}}" type="text" id="prenom" name="prenom" class="form-control" placeholder="Saisir le prénom de l'auteur" required autofocus>
                <h3 style='text-align:left; font-size:16px'>Nom de l'auteur:</h3>
                <label for="nom" class="sr-only">nom:</label>
                <input value="{{form.auteur.nomA}}" type="text" id="nom" name="nom" class="form-control" placeholder="Saisir le nom de l'auteur" required autofocus>
                <h3 style='text-align:left; font-size:16px'>Biographie de l'auteur:</h3>
                <label for="biographie" class="sr-only">biographie:</label>
                <textarea type="text" id="biographie" name="biographie" class="form-control" placeholder="Saisir la biographie" style="resize:vertical; font-size:20px" required autofocus>{{form.auteur.biographie}}</textarea>
                <br/>
                <center>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
                </center>
            </form> 
        {% else %} 
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=auteurA">Retourner sur la gestion des auteurs</a></h1>
        {% endif %}     
    {% else %}  
        {% if form.valide == true %}
            <h1 class="alert alert-success">{{ form.message }} </h1>
            <center>
                <a style="text-decoration:none" href="javascript:history.go(-2)" class="retourA"><h6 style='width:20%'>Retour</h6></a>
            </center>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=auteurA">Retourner sur la gestion des auteurs</a></h1>
        {% endif %} 
    {% endif %}
{% endblock %}