{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modifier un éditeur {% endblock %}
{% block contenu %} 
    {% if form.editeur is defined %} 
        {% if form.editeur != null %}

            <form class="form-signin" action="index.php?page=modifEditeur" method="post"enctype="multipart/form-data">

                <h1 class="h3 mb-3 font-weight-normal">Modifier un éditeur</h1>
                <label for="id" class="sr-only"> id:</label>
                <input type="hidden" id="id" name="idEditeur" value="{{form.editeur.idEditeur}}"/>
                <h3 style='text-align:left; font-size:16px'>Editeur:</h3>
                <label for="libelleE" class="sr-only">libelle:</label>
                <input value="{{form.editeur.libelleE}}" type="text" id="libelleE" name="libelleE" class="form-control" placeholder="Saisir le genre" required autofocus>
                <br/>
                <center>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
                </center>
            </form> 
        {% else %} 
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=editeurA">Retourner sur la gestion des éditeurs</a></h1>
        {% endif %}     
    {% else %}  
        {% if form.valide == true %}
            <h1 class="alert alert-success" role="alert">{{ form.message }} </h1>
            <center>
                <a style="text-decoration:none" href="javascript:history.go(-2)" class="retourA"><h6 style='width:20%'>Retour</h6></a>
            </center>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=editeurA">Retourner sur la gestion des éditeurs</a></h1>
        {% endif %} 
    {% endif %}
{% endblock %}
