{% extends "base.html.twig" %}
{% block title %}
  {{ parent() }}
  livre
{% endblock %}

{% block contenu %}

  {% if form.livre is defined %}
    {% if form.livre != null %}
      <div class="row">

        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-6 textcenter">
          <div class="container ">

            <img src="{{form.livre.couverture}}" height="auto" width="100%">

          </div>

        </div>
        <div class="col-12	col-sm-12	col-md-12	col-lg-12	col-xl-6 ">
          <div class="container " style="margin-top:1em">
            <div class="textcenter">

              <h3>{{form.livre.titre}}</h3>
              <h5>{{form.auteur.nomauteur}}{{form.auteur.prenomauteur}}</h5>
              <h6>{{form.editeur.nomediteur}}</h6>
              <h6>Parue en
                {{form.livre.datelivre}}</h6>
            </div>

          </div>

        </div>

      </div>
      <hr/>

      <div class="row">
        <div class="container">
          <p>Dernières parutions de l'auteur</p>
        </div>

      </div>
    {% endif %}
  {% endif %}

{% endblock %}
