{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Modifier votre e-mail {% endblock %}
{% block contenu %} 
    {% if form.utilisateur is defined %} 
        {% if form.utilisateur != null %}
            {% if form.utilisateur.email == session.login %}
                {% if form.valide3 is defined %}
                    {% if form.valide3 == false %}
                        <h1 class="alert alert-danger" role="alert">{{ form.message }} </h1>
                        <center>
                            <a style="text-decoration:none" href="index.php?page=gestionCompte" class="retourA"><h6 style='width:20%'>Retour</h6></a>
                        </center>
                    {% endif %}
                {% else %}
                    {% if form.valide is defined %}
                        {% if form.valide == false %}
                            <h1 class="alert alert-danger" role="alert">{{ form.message }} </h1>
                            <center>
                                <a style="text-decoration:none" href="index.php?page=gestionCompte" class="retourA"><h6 style='width:20%'>Retour</h6></a>
                            </center>
                        {% endif %}
                    {% else %}
                        <form class="form-signin" action="index.php?page=modifEmail" method="post"enctype="multipart/form-data">
                            <h1 style="font-family:CaviarDreams">Modifier votre adresse mail</h1>
                            <label for="idUtilisateur" class="sr-only"> idUtilisateur:</label>
                            <input type="hidden" value="{{form.utilisateur.idUtilisateur}}" id="idUtilisateur" name="idUtilisateur" required autofocus/>
                            <br/>
                            <label for="email" class="sr-only"> email:</label>
                            <input type="email" id="email" class="form-control" name="email" placeholder="Saisir votre nouvelle adresse mail" required autofocus/>
                            <br/>
                            <label for="email2" class="sr-only"> email:</label>
                            <input type="email" id="email2" class="form-control" name="email2" placeholder="Confirmez votre adresse mail" required autofocus/>
                            <br/>
                            <center>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>
                            </center>
                        </form>
                    {% endif %}
                {% endif %}
            {% else %} 
                <h1 class="alert alert-danger" role="alert">Vous vous êtes perdu? :(</h1> 
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=accueil">Retourner sur la page d'accueil</a></h1>
            {% endif %}  
        {% else %}
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=gestionCompte&email={{session.login}}">Retourner sur la gestion de votre compte</a></h1>
        {% endif %}     
    {% else %}  
        {% if form.valide2 == true %}
            <h1 class="alert alert-success" role="alert">{{ form.message }} </h1>
            <center>
                <a style="text-decoration:none" href="index.php?page=accueil" class="retourA"><h6 style="width:20%">Accueil</h6></a>
            </center>
        {% else %}    
            <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1> 
            <center>
                <a style="text-decoration:none" href="index.php?page=gestionCompte&email={{session.login}}" class="retourA"><h6 style='width:20%'>Retour</h6></a>
            </center>
        {% endif %} 
    {% endif %}
{% endblock %}
