{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet">
{% endblock %}
{% block title %}
  {{ parent() }}
  Gestion utilisateur{% endblock %}

{% block contenu %}
  {% if form.utilisateur is defined %}
    {% if form.utilisateur != null %}

      <div class="center-block col-md-10" style="float:none">

        <h1>Gestion du profile de
          <span class="badge badge-bleu" style="font-size: 100%">{{form.utilisateur.email}}</span></h1>

        <br/>

        <form class="form-signin" action="index.php?page=modifutilisateur" method="post" enctype="application/x-www-formurlencoded">

          <label for="inputEmail" class="sr-only">Email:</label>

          <div class="wrap-input100 validate-input">
            <label for="inputPassword" class="sr-only">Modifier le mot de passe:</label>
            <input class="input100" type="password" name="inputPassword" placeholder="Créez un nouveau mot de passe " id="inputLibelle" required="required">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <label for="inputPassword2" class="sr-only">Confirmer le mot de passe à modifier:</label>
            <input class="input100" type="password" name="inputPassword2" placeholder="Confirmation du nouveau mot de passe " id="inputLibelle" required="required">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <label for="nom" class="sr-only">Nom:</label>
            <input class="input100" type="text" name="nom" placeholder="Créez un nouveau Nom " id="nom" value="{{form.utilisateur.nom}}" required="required">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <label for="prenom" class="sr-only">Prénom:</label>
            <input class="input100" type="prenom" name="prenom" placeholder="Créez un nouveau Prénom " id="prenom" value="{{form.utilisateur.prenom}}" required="required">
            <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <select class="input100list" name="role">
              {% for r in form.role %}
                {% if r.id == form.utilisateur.idRole %}
                  <option value="{{ r.id }}" selected="selected">{{ r.libelle }}</option>
                {% else %}
                  <option value="{{ r.id }}">{{ r.libelle }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="container-contact100-form-btn ">
            <input type="hidden" name="email" value="{{ form.utilisateur.email }}"/>
            <button class="custom100-form-btn" type="submit" name="btModifier">Modifier</button>
          </div>
        </form>

      </div>
    {% else %}
      <div class="container-contact100-form-btn ">
        <div class="erreur100-form-btn">
          <strong>Erreur !
          </strong>&nbsp;&nbsp;&nbsp;{{ form.message }}
          1</div>
      </div>
      <div class="container-contact100-form-btn ">
        <a class="custom100-form-btn" href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a>
      </div>
    {% endif %}
  {% else %}
    {% if form.valide == true %}
      <div class="container-contact100-form-btn ">
        <div class="valide100-form-btn">
          <strong>{{ form.message }}</strong>
        </div>
      </div>
      <div class="container-contact100-form-btn ">
        <a class="custom100-form-btn" href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a>
      </div>

    {% else %}
      <!-- mdp diff-->
      <div class="container-contact100-form-btn ">
        <div class="erreur100-form-btn">
          <strong>Erreur !
          </strong>&nbsp;&nbsp;&nbsp;{{ form.message }}
        </div>
      </div>
      <div class="container-contact100-form-btn ">
        <a class="custom100-form-btn" href="index.php?page=utilisateur">Retourner sur la liste des utilisateurs</a>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
